.text-input{
	border: 1px solid #cacccd;
	font-size: $font-size-l;
	font-weight: 300;
	height: 50px;
	padding: $size-s;
}
.select{
	@extend .text-input; /* cool, use everything above and then change it below */
}
.textarea{
	@extend .text-input;
	height: 10rem;
}