.input-group{
	display: flex;
	flex-direction: column;
	margin-bottom: $size-m;

	@media(min-width: $desktop-breakpoint){
		flex-direction: row;
		margin-bottom: $size-l;
	}
}
.input-group__item{
	margin-bottom: $size-s;

	@media(min-width: $desktop-breakpoint){
		margin: 0 $size-s 0 0;
	}
}