/* base.css */
// _ before filename because this is a partial CSS stylesheet

*{
	box-sizing: content-box; // this is default; this causes height to be what you specify PLUS border and padding
	box-sizing: border-box; // this is better! height is what you specify and browser subtracts what is required for border and padding
}

html{
	// 1 rem is 16 px by default; we want 1 rem to be 10 px and 2 rem to be 20 px
	font-size: 62.5%; // now REMs work in a base 10 system; e.g. 1 rem is 10 px, 2 rem is 20 px
}

body{
	// background-color: $dark-grey;
	family: Helvetica, Arial, sans-serif;
	font-size: $size-m; // now we restore the default fontsize back to 16 px
	line-height: 1.6; // we aesthetically choose this for our paragraphs throughout the app
}

button{
	cursor: pointer;
}

button:disabled{
	cursor: default;
}

.is-active{
	font-weight: bold;
}